<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка GLB файла</title>
</head>

<body>
<h1>Загрузите GLB файл</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".glb" required>
    <button type="submit">Загрузить и рендерить!</button>
</form>

<div id="render-status"></div>

{% if download_link %}
    <h2>Рендеринг завершен!</h2>
    <p>Время рендеринга: {{ render_time|round(2) }} секунд</p>
    <img src="{{ url_for('download_file', filename=download_link) }}" alt="Отрендеренное изображение">
{% endif %}

{% if error %}
    <h2>Ошибка!</h2>
    <p>{{ error }}</p>
{% endif %}

<script>
function fetchRenderStats() {
    const xhr = new XMLHttpRequest();
    xhr.open('GET', '/poll', true);
    xhr.setRequestHeader('Cache-Control', 'no-cache');

    xhr.onload = function() {
        console.log("Статус ответа:", xhr.status);
        console.log("Ответ сервера:", xhr.responseText);

        if (xhr.status === 200) {
            try {
                const response = JSON.parse(xhr.responseText);
                if (response.render_stats) {
                    document.getElementById('render-status').innerText = response.render_stats;
                } else {
                    document.getElementById('render-status').innerText = 'Рендеринг не запущен.';
                }
            } catch (e) {
                console.error('Ошибка парсинга JSON:', e);
            }
            setTimeout(fetchRenderStats, 1000);
        } else if (xhr.status === 204) {
            document.getElementById('render-status').innerText = 'Ожидание начала рендеринга...';
            setTimeout(fetchRenderStats, 1000);
        } else {
            console.error('Ошибка при получении статуса рендеринга:', xhr.statusText);
        }
    };

    xhr.onerror = function() {
        console.error('Запрос не удался');
    };

    xhr.send();
}

window.onload = function() {
    fetchRenderStats();
};

</script>

</body>
</html>